{% load static %}
<!DOCTYPE html>
<html>
<head ><meta harset=utf-8">
<title>宿舍</title>
<link href="{% static "Wopop_files/style_log.css" %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static "Wopop_files/style.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "Wopop_files/userpanel.css" %}”>
<link rel="stylesheet" type="text/css" href="{% static "Wopop_files/jquery.ui.all.css" %}">
    <script src="{% static "Wopop_files/Alter.js" %}" type="text/javascript"></script>
</head>

<body class="login" mycollectionplug="bind">

    <div class="login_m">
        <div class="login_logo"><font size="6">宿舍管理系统</font></div>
            <div class="login_boder">
                <form method="post"  action="/login/" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="login_padding" id="login_model">
                        <h2>学号</h2>
                        <label>
                            <input type="text"  class="txt_input" name="username" >
                        </label>
                        <h2>密码</h2>
                        <label>
                            <input type="password" name="password"  class="txt_input" >
                        </label>
                        <p class="forgot"><a id="iforget" href="/zhuce">注册</a></p>
                        <div class="rem_sub">
                            <div class="rem_sub_l">
                                <input type="checkbox" name="checkbox" id="save_me">
                                <label for="checkbox">记住密码</label>
                            </div>
                            <label>
                                <input type="submit" class="sub_button" name="sumbit" id="button" style="opacity: 0.7;" value="登录">
                            </label>
                        </div>
                    </div>
                </form>
            </div>
    </div>
</body>
</html>