{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<meta name="theme-color" content="#607d8b">

	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}" media="screen,projection " />

	<!--Let browser know website is optimized for mobie-->
	<meta name="viewport " content="width=device-width, initial-scale=1.0 " />
	<title>{% block title %} {% endblock title %}</title>
</head>

<body>
	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>

	<header>
		<div class="navbar-fixed">
			<nav class="top-nav blue-grey darken-1">
				<div class="nav-wrapper container">
					<a href="/index/" class="brand-logo">Dorm</a>
					<ul class="right hide-on-med-and-down">
						<li><a href="">登陆</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>

	{% block mainbody %}
	{% endblock mainbody %}

</body>

</html>