{% extends "base_with_cards.html" %} 

{% block title %} 智能宿舍 {% endblock %}

{% comment %}{% block mainbody %}
<form action="/queryall/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" class="btn waves-effect waves-light" value="Submit" />
</form>

<div class="row container">
</div>
{% endblock mainbody %}{% endcomment %}

{% block card_content %}
{% for card in cards %}
<div class="col s12 m6 l4">
	<div class="card {{ card.color }} darken-1 hoverable">
		<div class="card-content white-text">
			<span class="card-title">{{ card.title }}</span>
			<p>{{ card.content }}</p>
		</div>
		<div class="card-action {{ card.color }} darken-2">
			<a href="{{ card.action1.url }}" class="white-text">{{ card.action1.name }}</a>
			<a href="{{ card.action2.url }}" class="white-text">{{ card.action2.name }}</a>
		</div>
	</div>
</div>
{% endfor %}
{% endblock card_content %}

{% block card_form %}
<div class="col s12 m6 l4">
	<div class="card {{ formData.color }} darken-1 hoverable">
		<div class="card-content">
			<span class="card-title">{{ formData.title }}</span>
			<p>{{ formData.content }}</p>
		</div>
		<div class="card-action {{ formData.color }} darken-2">
			<form action="/queryall/" method="post">
				{% csrf_token %}
				{{ form }}
				<input type="submit" class="btn waves-effect waves-light" value="Submit" />
			</form>
		</div>
	</div>
</div>
{% endblock card_form %}
